RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/.]+)$ $1.php [NC,L]
RewriteRule ^listing/(.*)$ listing.php?url=$1 [QSA,L]
RewriteRule ^category/(.*)$ category.php?url=$1 [QSA,L]
RewriteRule ^enquire/(.*)$ enquire.php?url=$1 [QSA,L]

ErrorDocument 404 /uaeproduct.com/404.php